<?php $pc = $this->getNewProducts(); ?>
<div class="newproducts">
    <h2><?php echo $this->getHeading() ?></h2>
    <ul class="products-list">
    <?php foreach ($pc as $p): ?>
    	<li>
    		<a href="<?php echo $p->getProductUrl() ?>" title="<?php echo $this->escapeHtml($p->getName()) ?>">
                <?php echo $this->escapeHtml($p->getName()) ?>
    		</a>
    	</li>
    <?php endforeach; ?>
    </ul>
</div>
